	
<html>
<title>Edit Restaurant Info</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<body>

<div class="w3-container w3-teal">
  <h1 align="center" style="font-family: cursive, Lucida">Edit Restaurant Info</h1>
</div>

		<% if (currentUser == ""){ %>
			<p>Not Login
			<a href="/loginPage" style="text-decoration: none">
				<button class="w3-btn w3-section w3-teal w3-ripple">Login</button>
			</a></p>
		<%}else{%>
			<p>Login as <%= currentUser %>
			<a href="/logout" style="text-decoration: none">
				<button class="w3-btn w3-section w3-teal w3-ripple">Logout</button>
			</a></p>
		<% }%>
		

<form action="/modifyRestaurantInfo" method="post" encType="multipart/form-data"
      class="w3-container" style="width:100%">
  
  <p>
  <label class="w3-label w3-validate">Restaurant ID</label>
  <input disable name="restaurant_id" class="w3-input" type="text"  value='<%= result[0].restaurant_id%>' />
  </p>

  <p>
  <label class="w3-label w3-validate">Name</label>
  <input required name="name" class="w3-input" type="text" value='<%= result[0].name%>' required />
  </p>

  <p>
  <label class="w3-label w3-validate">Borough</label>
  <input name="borough"class="w3-input" type="text" value='<%= result[0].borough%>' />
  </p>

  <p>
  <label class="w3-label w3-validate">Cuisine</label>
  <input name="cuisine"class="w3-input" type="text"  value='<%= result[0].cuisine%>'/>
  </p>

  <p>
  <label class="w3-label w3-validate">Street</label>
  <input name="street"class="w3-input" type="text"  value='<%= result[0].address.street%>'/>
  </p>

  <p>
  <label class="w3-label w3-validate">Building</label>
  <input name="building"class="w3-input" type="text"   value='<%= result[0].address.uilding%>'/>
  </p>

  <p>
  <label class="w3-label w3-validate">GPS Coordinates (lon.)</label>
  <input name="lon"class="w3-input" type="number" step='any' value='<%= result[0].address.coord[1]%>'/>
  </p>

  <p> 
  <label class="w3-label w3-validate">GPS Coordinates (lat.)</label>
  <input name="lat"class="w3-input" type="number" step='any'  value='<%= result[0].address.coord[0]%>'/>
  </p>

  <p>
  <label class="w3-label w3-validate">Photo</label>
  <input name="uploadFile"class="w3-input" type="file" >  
  </p>
	<input type='submit' class="w3-btn w3-section w3-teal w3-ripple" value='Edit'/>
</form>

	<script>
		function goBack() {window.history.back();}
	</script>
		<button class="w3-btn w3-section w3-teal w3-ripple" onclick="goBack()">Go Back</button>
<a href='/showAllRestaurant'><button class="w3-btn w3-section w3-teal w3-ripple" >HomePage</button></a>
</body>
</html>

<!--
<html>
<body>
<form action="/processlogin" method="get">
User ID: <input type="text" name="id" />
Password: <input type="password" name="password" />
<br><br>
<input type="submit" value="Login">
</form>
</body>
</html>
-->
